html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

.info-section {
  padding: 10px;
  overflow-y: auto;
  background-color: #f4f4f4;
  height: 100%;
}

.panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.panel input,
.route-button {
  padding: 10px 25px;
  margin: 0 15px;
  background: #f4f4f4;
  border: #909090 solid 1px;
  border-radius: 10px;
  color: #212124;
  cursor: pointer;
  flex: 1;
}

.panel input {
  flex: 2;
}

.navbar {
  margin-bottom: 0;
}

.navbar-nav {
  margin: 0 25px;
}

nav {
  background: #edf0ec;
  color: #212124;
  text-align: center;
}

.container {
  margin-top: 30px;
}

.card {
  background: #fff;
  margin: 0 0 30px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  border: #909090 solid 1px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card a {
  margin: 10px;
  padding: 20px;
  background: #f4f4f4;
  border: none;
  border-radius: 10px;
  color: #212124;
  text-decoration: none;
}

.card:hover,
.route-button:hover {
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
  -webkit-box-shadow: 0 3px 40px 0 rgba(206, 205, 205, 0.3);
  box-shadow: 0 3px 40px 0 rgba(206, 205, 205, 0.3);
}
